@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
  min-height: 100vh;
}
/*----------NavBar----------*/
nav{
  height: 100px;
  width: 100%;
  background: #f2f2f2;;
}
a{
  text-decoration: none;
  list-style: none;
}
nav img{
  width: 100px;
  height: auto;
  float: left;
  margin-left: 5%;
}
nav ul{
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}
nav ul li{
  display: inline-block;
  margin: 0 10px;
  line-height: 80px;
}
nav ul li a{
  color: #000;
  font-size: 20px;
  padding: 7px 10px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
}
/*----------Cuerpo del proyecto----------*/
h1{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 6%;
}
.cuerpo{
  margin-top: 15%;
}
.contenedor{
  width: 80%;
  display: inline-block;
  justify-content: center;
  justify-items: center;
}
.ins-texto{
  width: 30%;
  margin: 0 auto;
  float: left;
  margin-left: 15%;
  margin-top: 3%;
}
.ins-texto p{
  text-align: justify;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}
form{
  border: 1px solid #000;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 50px;
  margin-right: 5%;
  width: 30%;
  float: right;
}
form div{
  margin: 5px 0 5px 0;
}
form label, 
form p{
  font-family: 'Montserrat', sans-serif;
}
input[type=text], 
input[type=date],
input[type=number], 
input[type=email], 
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea{
  height: 8vh;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
button{
  background-color: #2872aa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
  cursor: pointer;
}
/*----------Footer----------*/
.footer-contenedor{
    width: 100%;
    background: #f1f1f1;
    padding: 5px 0px;
    position: sticky;
    top: 100%;
  }
  .footer-iconos{
    width: 100%;
    height: auto;
    margin: auto;
    display: inline-block;
  }
  .footer-iconos div{
    display: inline-block;
  }
  .footer-iconos ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-iconos ul li{
    display: inline-block;
    margin: 10px 10px; 
    border-radius: 100%;
    background: #2872aa;
    width: 50px;
    height: 50px;
  }
  .footer-iconos ul li a{
    color: #f1f1f1;
    font-size: 30px;
  }
  .footer-iconos ul li a i{
    line-height: 50px;
  }
  .footer-iconos p{
    color: #000;
    text-align: right;
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
  }